<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Success</title>
</head>
<body>
    
    <h2>Welcome to Realm!</h2>
    <p>Dear {{ user.username }},</p>
    <p>Thank you for signing up on Realm. We are excited to have you as a member of our streaming platform!</p>
    <p>With Realm, you can discover a vast collection of movies, TV shows, and exclusive content from around the world.</p>
    <p>If you have any questions or need assistance, feel free to contact our support team.</p>
    <p>Enjoy your streaming experience on Realm!</p>
    <p>Best regards,</p>
    <p>The Realm Team</p>
</body>
</html>
